* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #150f2a;
  color: white;
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#moviesContainer {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));

  gap: 20px;
}

.movie-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card h3 {
  margin-top: 10px;
}

.movie-card p {
  margin-top: 5px;
}

#errorMessage {
  text-align: center;
  color: #f87171;
  margin-top: 20px;
}